    body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vW;
}


/* section 1 */

.section1 {
    background-image: url(../Assets/images/dots-img.png);
    background-repeat: no-repeat;
    background-position: 100% 75%;
    background-size: 180px;
    background-color: rgb(9, 9, 77);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 1000px;
}


#girl-with-laptop {
    width: 400px;
    height: 350px;
}

.sec1-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sec1-div1-divA {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

.sec1-div2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sec1-div2-img1 {
    display: flex;
    align-items: center;
}

.sec1-div2-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec1-div2-divs-header {
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.sec1-div2-divs-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title-sec1-div2-h2 {
    color: white;
    font-size: 35px;
}

.sec1-div2-divs-p {
    color: #5364a9;
}

.sec1-div2-divs-content-p {
    color: #5364a9;
}

/* .sec1-div2-divs-contenu-ul {
    color: rgb(50, 150, 184);
    list-style-type: none;
}

.sec1-div2-divs-contenu-ul li::before {
    content: "✔"; 
    margin: 5px;
    background-color: aqua;
    border-radius: 50%; 
} */

.svg-p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.svg-p-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #5364a9;
    line-height: 0;
}


.p-svg {
    width: 12px;
}

.sec1-h2 {
    line-height: 0.5;
}

#partners {
    color: rgb(50, 150, 184);
}

#title-sec1 {
    color: white;
    font-size: 35px;
}

#title-sec1-div2 {
    color: white;
}

.main-div-slider {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.slider {
    transition: all 1s;
}

.div-slider {
    background-color: rgba(23, 23, 125, 0.388);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-slider:hover {
    background-color: aqua;
}

.div-slider:hover .slider{
    transform: translateY(-15px);
    filter: brightness(0) invert(1);
}


@media screen and (max-width: 600px) {
    .section1 {
        width: 100%;
        height: 15%;
        flex-direction: column;
        background-size: 80px;
    }

    .sec1-div2 {
        flex-direction: column;
        width: 90%;
    }

    .div-slider {
        width: 65%;
    }
    
    .main-div-slider {
        justify-content: center;
    }

    #title-sec1 {
        font-size: 30px;
    }

    #girl-with-laptop {
        margin-left: 12%;
        width: 75%;
        height: 55%;
    }

    .title-sec1-div2-h2 {
        font-size: 25px;
    }

    .fontpsvg {
        font-size: 10px;
    }

    .sec1-div2-divs {
        justify-content: center;
        align-items: flex-start;
    }

    .svg-p-div {
        margin-right: 5%;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .section1 {
        width: 100%;
        height: 20%;
        justify-content: center;
        flex-direction: column;
    }

    .div-slider {
        width: 40%;
    }
}

