body {
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: rgb(9, 9, 77);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}


#girl-with-laptop {
    width: 250px;
    height: 200px;
}

.sec1-div2 {
    display: flex;
    flex-direction: row;
}

.sec1-div2-divs {
    display: flex;
}